<!--
  VITacademics - Faculty
  Copyright (C) 2014  Aneesh Neelam <neelam.aneesh@gmail.com>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
<head>
    <title>Destroy Access Token | VITacademics - Faculty</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Destroy Faculty Access Token</h1>

<form method="post" action="/api/auth/destroytoken">
    <label for="empid">Faculty ID: </label>
    <input type="text" id="empid" name="empid">
    <br>
    <input type="submit" name="Submit" value="Submit">
    <br>
</form>
</body>
</html>
